HOST: http://random-gamification.com

--- Magnificent Monocle Gamification Provider ---
---
API v0.0.1

Star (*) indicates a mandatory request parameter.
---

--
Applications
The following section relates to the application resource.

(Possible: list, register)
--
Get applications registered on the server.

*Resource may only be used by API_KEY for Super-Admin console.*
GET /applications
> Authorization: $API_KEY
< 200
< Content-Type: application/json
{
	[
		{
			"application_id":<OID>,
			"site":<String>,
			"callback":<String>,
			"createdAt":<Date>,
			"admin":<String>,
			"statistics":
			{
				"user_count":<Integer>,
				"event_count":<Integer>,
				"badge_count":<Integer>,
				"rule_count":<Integer>
			}
		}
	]
}
+++++
< 401
< Content-Type: application/json
{ "error":"error", "stats":"Access denied." }

Get application information.
GET /applications/:appid
> Authorization: $API_KEY
< 200
< Content-Type: application/json
{
	"application_id":<OID>,
	"site":<String>,
	"callback":<String>,
	"createdAt":<Date>,
	"admin":<String>,
	"statistics":
	{
		"user_count":<Integer>,
		"event_count":<Integer>
		"badge_count":<Integer>,
		"rule_count":<Integer>
	}
}
+++++
< 404
< Content-Type: application/json
{ "status":"error", "message":"Resource not found." }
+++++
< 401
< Content-Type: application/json
{ "status":"error", "message":"Access denied." }

Register a new application
POST /applications
> Content-Type: application/json
{
	"site":<String>,
	"callback":<String>,
	"admin":<String>
}
< 201
< Content-Type: application/json
{ 
	"status":"success", 
	"message":"Successfully registered.",
	"payload":
	{
		"api_key":<String>,
		"secret_key":<String>
	}
}
+++++
< 409
< Content-Type: application/json
{ "status":"error", "message":"Application cannot be created." }

--
Leaderboard
(Possible: list)

TODO
--

TODO
GET /applications/:appid/leaderboard
> Authorization: $API_KEY
< 200
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

--
Users
(Possible: list, specific, add, modify, delete)

TODO
--
TODO
GET /applications/:appid/users
< 200
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

TODO
GET /applications/:appid/users/:userid
< 200
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

TODO
GET /applications/:appid/users/:userid/badges
< 200
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

TODO
POST /applications/:appid/users
> Content-type: application/json
{TODO}
< 201
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}
+++++
< 405
< Content-Type: text/plain
{TODO}

TODO
PUT /applications/:appid/users/:userid
{TODO}
< 204
+++++
< 404
< Content-Type: text/plain
{TODO}

TODO
DELETE /applications/:appid/users/:userid
< 204
+++++
< 404
< Content-Type: text/plain
{TODO}

--
Events
(Possible: list, specific, add)

TODO
--

TODO
GET /applications/:appid/events
< 200
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

TODO
GET /applications/:appid/events/:eventid
< 200
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

TODO
POST /applications/:appid/events
< 201
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

--
Triggers
(Possible: list, specific, add)

TODO (Event Type)
--

TODO
GET /applications/:appid/triggers
< 200
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

TODO
GET /applications/:appid/triggers/:triggerid
< 200
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

TODO
POST /applications/:appid/triggers
< 201
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

--
Rules
(Possible: list, specific, add, modify?, delete?)

TODO
--

TODO
GET /applications/:appid/rules
< 200
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

TODO
GET /applications/:appid/rules/:ruleid
< 200
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

TODO
POST /applications/:appid/rules
< 201
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

TODO
PUT /applications/:appid/rules/:ruleid
< 204
+++++
< 401
< Content-Type: text/plain
{TODO}

TODO
DELETE /applications/:appid/rules/:ruleid
< 204
+++++
< 401
< Content-Type: text/plain
{TODO}

--
Badges
(Possible: list, specific, add, modify?)

TODO
--

TODO
GET /applications/:appid/badges
< 200
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

TODO
GET /applications/:appid/badges/:badgeid
< 200
< Content-Type: application/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

TODO
POST /applications/:appid/badges
< 201
< Content-Type: applications/json
{TODO}
+++++
< 401
< Content-Type: text/plain
{TODO}

TODO
PUT /applications/:appid/badges/:badgeid
< 204
+++++
< 401
< Content-Type: text/plain
{TODO}

